/* ----------- Non-Retina Screens ----------- */
body {
	font-family:'Lato';
	color:#33322F;
	background-color: #FAFFF9;
}

	html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
  	padding:0;
  		margin:0;
  }

 img {
		max-width: 100%;
		height:auto;
		width:auto\9;
	}

a:visited {
	color:#33322F;
}

@media screen 
  and (min-width: 900px) 
  and (max-width: 2100px)  { 

  	html, body {
    max-width: 100%;
    overflow-x: hidden;
	}

	#connect br {
		display: none;
	}

  	* {
  		padding:0;
  		margin:0;
  	}

  	html {
		background-color:#FAFFF9;
	}

	body {
		margin:0;
		padding:0;
		font-family: 'Lato'; 
		background-color: #FAFFF9;
		font-size:12pt;
		color:#33322F;
	}

	header {
		width:100%;	
	}

	header h3 {
		font-size:0.9em;
		font-weight: 300;
		margin-left:40px;
		margin-top:40px;
	}

	header h3 a {
		text-decoration-style: none;
		text-decoration: none;
		color:#33322F;
	}

	img {
		max-width: 100%;
		height:auto;
		width:auto\9;
	}

	::selection {
		background: #40B5F5; /* WebKit/Blink Browsers */
		color:black;
		}

	::-moz-selection {
		color:black;
		background: #40B5F5; /* Gecko Browsers */
		}


	.content a {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	
	.content a:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}


	#home {
		position: relative;
	}

	#home:after {
		background-color:#33322F;
		bottom: 1px;
		content: "";
		display: block;
		height: 6px;
		margin: auto 0;
		position: absolute;
		top: 1px;
		transition: width 0.3s cubic-bezier(1, 0, 0, 1);
		-webkit-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-moz-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-o-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		width:104%;
		right:-2px;
	}

	#home:hover:after {
		width:0;
	}

	#study {
		width:100%;
	}

	div#study-intro {
		text-align: center;
		width:100%;
		margin:auto;
		margin-top:5%;

	}

	div#study-intro h2 {
		font-size:5em;
		letter-spacing: 3px;
		font-weight:700;
	}

	div#study-intro h3 {
		font-weight:400;
		margin-top:1%;
	}

	#cover-image {
		position: relative;
		width:70%;
		margin:auto;
		margin-top:5%;
	}

	#cover-image figcaption {
		position: absolute;
		top:10%;
		left:5%;
		font-size:2vw;
		color:white;
		text-align: left;
	}

	#cover-image figcaption h4 {
		font-weight:700;
		font-size:3em;
		letter-spacing: 3px;
	}

	#cover-image figcaption h3 {
		margin-top:3px;
		font-weight:300;
		font-size:0.8em;
	}

	.content {
		margin:auto;
		width:70%;
		margin-top:5%;
		color:#33322F;
		font-size:1.2em;
		font-weight:300;
	}

	.content-centered {
		margin:auto;
		text-align:center;
		width:60%;
		margin-top:5%;
		color:#33322F;
		font-size:1.1em;
	}

	.content-centered h2 {
		font-size:2.3em;
		margin-bottom:25px;
	}

	.content-centered h4 {	
		font-weight:300;
		letter-spacing: 1px;
		margin-bottom:70px;
	}

	.content h2 {
		font-family: 'Droid Serif',serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.content p {
		color:#54534E;
		letter-spacing: 0.5px;
		line-height: 141%;
	}

	.content h4 {
		font-family: 'Droid Serif', serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.personas {	
		margin-top:30px;
		width:100%;
		text-align:center;
		background-color:#E7EDE7;
		padding-top:50px;
		padding-bottom:50px;
	}

	#journey-map {
		width:100%;
		margin-top:30px;
		text-align:center;
	}

	#principals {
		text-align: center;
	}

	#mockups {
		margin-top:30px;
		text-align:center;
		margin-bottom: 30px;
		text-align:center;
	}

	#userjourney {
		margin-top:30px;
		margin-bottom:30px;
		text-align: center;
	}

	#phones {
		margin-top:0px;
	}

	#phone1{
		margin-bottom:90px;
	}

	#invite {
		margin-top:30px;
		margin-bottom:30px;
		padding-top:30px;
		padding-bottom:15px;
		width: 100%;
		text-align:center;
		background-color:#E7EDE7;
	}

	#invite img {
		width:60%;
	}

	figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;
	}

	#notification {
		width:100%;
		margin:auto;
		margin-top:30px;
		text-align:center;
		background-color:#E7EDE7;
		padding-top:15px;
		padding-bottom:15px;
	}

	#notification img {
		width:40%;
	}

	#notification figcaption {
		font-size:0.6em;
	}

	#iframe {
		width:70%;
		margin:auto;
		margin-top:30px;
		background-color:#E7EDE7;
		height:70%;
		padding-bottom:5px;
	}

	iframe {
		margin:auto;
		text-align:center;
		width:100%;
	}

	#top {
		margin:auto;
		margin-top:100px;
		width:100%;
		text-align:center;
	}

	#top a {
		text-decoration: none;
		color:#33322F;
	}

	#connect {
		font-size:1em;
		width:100%;
		margin-left:40px;
		margin-top:50px;
		margin-bottom:30px;
	}

	footer nav {
		margin-top:30px	;
	}

	#social-email {
		position: relative;
	}

	#social-email {
		text-decoration:none;
		color:#33322F;
		font-weight:300;
	}

	#social-email:after {
		background-color:black;
		bottom: 1px;
		content: "";
		display: block;
		height: 7px;
		margin: auto 0;
		position: absolute;
		top: 5px;
		transition: width 0.3s cubic-bezier(1, 0, 0, 1);
		-webkit-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-moz-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-o-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		width:100%;
		right:2px;
	}

	#social-email:hover:after {
		width:0;
	}

	#copyright {
		float:right;
		margin-right:80px;
		font-size:0.7em
	}
}

/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  	.content {
  		width:92% !important;
  		font-size:0.9em;
  		margin-top:10%;
  		padding-left:10px;
  		padding-right:10px;
  	}

  	header {
  		margin-top:5%;
  		margin-left:2%;
  	}

  	#home a {
  		font-weight:400;
  		text-decoration: none;
  		font-size:0.7em;
  	}


	#cover-image {
		position: relative;
		width:257%;
		margin:auto;
		margin-top:5%;
		right:56%;
	}

	#cover-image figcaption {
		position: absolute;
		top:14%;
		left:23%;
		font-size:4vw;
		color:white;
		text-align: left;
	}

	#cover-image figcaption h4 {
		font-weight:700;
		font-size:3em;
		letter-spacing: 3px;
	}

	#cover-image figcaption h3 {
		margin-top:5px;
		font-weight:300;
		font-size:0.93em;
		width:87%;
	}

	.content a {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	
	.content a:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	.content h2 {
		margin-bottom:2%;
	}

	.personas {
		margin-top:2%;
	}

	#journey-map {
		margin-top:15%;
		margin-bottom:15%;
	}

	
	#iframe {
		transform:scale(0.7);
		width:16%;
		margin-top:-88px;
	}

	.content-centered {
		margin:auto;
		text-align:center;
		width:92%;
		margin-top:5%;
		color:#33322F;
		font-size:1.1em;
	}

	.content-centered h2 {
		font-size:1.1em;
		margin-bottom:25px;
	}

	.content-centered h4 {	
		font-weight:300;
		letter-spacing: 1px;
		margin-bottom:70px;
	}

	#phones h2 {
		margin-top:22%;
	}

	#phones h4 {
		font-size:0.8em;
	}

	.content h2 {
		font-family: 'Droid Serif',serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.content p {
		color:#54534E;
		letter-spacing: 0.5px;
		line-height: 160%;
	}

	.content h4 {
		font-family: 'Droid Serif', serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}


	#invite figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;
	}

	#notification figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;

	}

	#mockups {
		margin-top:15%;
		margin-bottom:15%;
	}

	#userjourney {
		margin-top:15%;
		margin-bottom:15%;
	}

	#invite {
		margin-top:15%;
		margin-bottom:15%;
	}

	#notification {
		margin-top:15%;
		margin-bottom:15%;
	}

	#top {
		margin:auto;
		margin-top:100px;
		width:100%;
		text-align:center;
	}

	#top a {
		text-decoration: none;
		color:#33322F;
	}

	#connect {
		font-size:1em;
		width:100%;
		margin:auto;
	}

	footer nav {
		margin:auto;
		margin-top:30px;
		text-align:center;
	}

	#social-email {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		width:100%;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	#social-email:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	#copyright {
		margin:auto !important;
		font-size:0.3em;
	}


}

/* Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  	.content {
  		width:96% !important;
  		font-size:0.9em;
  		margin-top:10%;
  		padding-left:10px;
  		padding-right:10px;
  	}

  	header {
  		margin-top:5%;
  		margin-left:2%;
  	}

  	#home a {
  		font-weight:400;
  		text-decoration: none;
  		font-size:0.7em;
  	}


	#cover-image {
		position: relative;
		width:257%;
		margin:auto;
		margin-top:5%;
		right:56%;
	}

	#cover-image figcaption {
		position: absolute;
		top:14%;
		left:23%;
		font-size:4vw;
		color:white;
		text-align: left;
	}

	#cover-image figcaption h4 {
		font-weight:700;
		font-size:3em;
		letter-spacing: 3px;
	}

	#cover-image figcaption h3 {
		margin-top:5px;
		font-weight:300;
		font-size:0.93em;
		width:87%;
	}

	.content a {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	
	.content a:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	.content h2 {
		margin-bottom:2%;
	}

	.personas {
		margin-top:2%;
	}

	#journey-map {
		margin-top:15%;
		margin-bottom:15%;
	}

	
	#iframe {
		transform:scale(0.7);
		width:158% !important;
		margin-top:-88px;
	}

	.content-centered {
		margin:auto;
		text-align:center;
		width:92%;
		margin-top:5%;
		color:#33322F;
		font-size:1.1em;
	}

	.content-centered h2 {
		font-size:1.1em;
		margin-bottom:25px;
	}

	.content-centered h4 {	
		font-weight:300;
		letter-spacing: 1px;
		margin-bottom:70px;
	}

	#phones h2 {
		margin-top:22%;
	}

	#phones h4 {
		font-size:0.8em;
	}

	.content h2 {
		font-family: 'Droid Serif',serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.content p {
		color:#54534E;
		letter-spacing: 0.5px;
		line-height: 160%;
	}

	.content h4 {
		font-family: 'Droid Serif', serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}


	#invite figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;
	}

	#notification figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;

	}

	#mockups {
		margin-top:15%;
		margin-bottom:15%;
	}

	#userjourney {
		margin-top:15%;
		margin-bottom:15%;
	}

	#invite {
		margin-top:15%;
		margin-bottom:15%;
	}

	#notification {
		margin-top:15%;
		margin-bottom:15%;
	}

	#top {
		margin:auto;
		margin-top:100px;
		width:100%;
		text-align:center;
	}

	#top a {
		text-decoration: none;
		color:#33322F;
	}

	#connect {
		font-size:1em;
		width:100%;
		margin:auto;
	}

	footer nav {
		margin:auto;
		margin-top:30px;
		text-align:center;
	}

	#social-email {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		width:100%;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	#social-email:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	#copyright {
		margin:auto !important;
		font-size:0.3em;
	}



  	
}

/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  	.content {
  		width:95% !important;
  	}

  	.content-centered {
  		width:94%;
  	}

  	#iframe {
  		width:62% !important;
  	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

  	.content {
  		width:92%;
  		font-size:0.9em;
  		margin-top:10%;
  		padding-left:10px;
  		padding-right:10px;
  	}

  	header {
  		margin-top:5%;
  		margin-left:2%;
  	}

  	#home a {
  		font-weight:400;
  		text-decoration: none;
  		font-size:0.7em;
  	}


	#cover-image {
		position: relative;
		width:257%;
		margin:auto;
		margin-top:5%;
		right:56%;
	}

	#cover-image figcaption {
		position: absolute;
		top:14%;
		left:23%;
		font-size:4vw;
		color:white;
		text-align: left;
	}

	#cover-image figcaption h4 {
		font-weight:700;
		font-size:3em;
		letter-spacing: 3px;
	}

	#cover-image figcaption h3 {
		margin-top:5px;
		font-weight:300;
		font-size:0.93em;
		width:87%;
	}

	.content a {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	
	.content a:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	.content h2 {
		margin-bottom:2%;
	}

	.personas {
		margin-top:2%;
	}

	#journey-map {
		margin-top:15%;
		margin-bottom:15%;
	}

	
	#iframe {
		transform:scale(0.7);
		width:192% !important;
		margin-top:-88px;
	}

	.content-centered {
		margin:auto;
		text-align:center;
		width:92%;
		margin-top:5%;
		color:#33322F;
		font-size:1.1em;
	}

	.content-centered h2 {
		font-size:1.1em;
		margin-bottom:25px;
	}

	.content-centered h4 {	
		font-weight:300;
		letter-spacing: 1px;
		margin-bottom:70px;
	}

	#phones h2 {
		margin-top:22%;
	}

	#phones h4 {
		font-size:0.8em;
	}

	.content h2 {
		font-family: 'Droid Serif',serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.content p {
		color:#54534E;
		letter-spacing: 0.5px;
		line-height: 160%;
	}

	.content h4 {
		font-family: 'Droid Serif', serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}


	#invite figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;
	}

	#notification figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;

	}

	#mockups {
		margin-top:15%;
		margin-bottom:15%;
	}

	#userjourney {
		margin-top:15%;
		margin-bottom:15%;
	}

	#invite {
		margin-top:15%;
		margin-bottom:15%;
	}

	#notification {
		margin-top:15%;
		margin-bottom:15%;
	}

	#top {
		margin:auto;
		margin-top:100px;
		width:100%;
		text-align:center;
	}

	#top a {
		text-decoration: none;
		color:#33322F;
	}

	#connect {
		font-size:1em;
		width:100%;
		margin:auto;
	}

	footer nav {
		margin:auto;
		margin-top:30px;
		text-align:center;
	}

	#social-email {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		width:100%;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	#social-email:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	#copyright {
		margin:auto !important;
		font-size:0.3em;
	}


}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 767px) { 

 	#iframe {
  		width:91% !important;
  	}

}

/* Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 767px)
  { 

  	.content {
  		
  		font-size:0.9em;
  		margin-top:10%;
  		padding-left:18px !important;
  		padding-right:10px;
  	}

  	header {
  		margin-top:5%;
  		margin-left:2%;
  	}

  	#home a {
  		font-weight:400;
  		text-decoration: none;
  		font-size:0.7em;
  	}


	#cover-image {
		position: relative;
		width:257%;
		margin:auto;
		margin-top:5%;
		right:56%;
	}

	#cover-image figcaption {
		position: absolute;
		top:14%;
		left:23%;
		font-size:4vw;
		color:white;
		text-align: left;
	}

	#cover-image figcaption h4 {
		font-weight:700;
		font-size:3em;
		letter-spacing: 3px;
	}

	#cover-image figcaption h3 {
		margin-top:5px;
		font-weight:300;
		font-size:0.93em;
		width:87%;
	}

	.content a {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	
	.content a:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	.content h2 {
		margin-bottom:2%;
	}

	.personas {
		margin-top:2%;
	}

	#journey-map {
		margin-top:15%;
		margin-bottom:15%;
	}

	
	#iframe {
		transform:scale(0.7);
		width:201% !important;
		margin-top:-88px;
	}

	.content-centered {
		margin:auto;
		text-align:center;
		width:92%;
		margin-top:5%;
		color:#33322F;
		font-size:1.1em;
	}

	.content-centered h2 {
		font-size:1.1em;
		margin-bottom:25px;
	}

	.content-centered h4 {	
		font-weight:300;
		letter-spacing: 1px;
		margin-bottom:70px;
	}

	#phones h2 {
		margin-top:22%;
	}

	#phones h4 {
		font-size:0.8em;
	}

	.content h2 {
		font-family: 'Droid Serif',serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.content p {
		color:#54534E;
		letter-spacing: 0.5px;
		line-height: 160%;
	}

	.content h4 {
		font-family: 'Droid Serif', serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}


	#invite figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;
	}

	#notification figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;

	}

	#mockups {
		margin-top:15%;
		margin-bottom:15%;
	}

	#userjourney {
		margin-top:15%;
		margin-bottom:15%;
	}

	#invite {
		margin-top:15%;
		margin-bottom:15%;
	}

	#notification {
		margin-top:15%;
		margin-bottom:15%;
	}

	#top {
		margin:auto;
		margin-top:100px;
		width:100%;
		text-align:center;
	}

	#top a {
		text-decoration: none;
		color:#33322F;
	}

	#connect {
		font-size:1em;
		width:100%;
		margin:auto;
	}

	footer nav {
		margin:auto;
		margin-top:30px;
		text-align:center;
	}

	#social-email {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		width:100%;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	#social-email:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}

	#copyright {
		margin:auto !important;
		font-size:0.3em;
	}


}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 900px) {
  		
  	html, body {
	    max-width: 100%;
	    overflow-x: hidden;
		}

	#connect br {
		display: none;
	}

  	* {
  		padding:0;
  		margin:0;
  	}

  	html {
		background-color:#FAFFF9;
	}

	body {
		margin:0;
		padding:0;
		font-family: 'Lato'; 
		background-color: #FAFFF9;
		font-size:12pt;
		color:#33322F;
	}

	header {
		width:100%;	
	}

	header h3 {
		font-size:0.9em;
		font-weight: 300;
		margin-left:40px;
		margin-top:40px;
	}

	header h3 a {
		text-decoration-style: none;
		text-decoration: none;
		color:#33322F;
	}

	img {
		max-width: 100%;
		height:auto;
		width:auto\9;
	}

	::selection {
		background: #40B5F5; /* WebKit/Blink Browsers */
		color:black;
		}

	::-moz-selection {
		color:black;
		background: #40B5F5; /* Gecko Browsers */
		}


	.content a {
		border-bottom:1px dashed #9C9C9C;
		text-decoration: none;
		color:#33322F;
		transition: border-bottom .3s;
		-webkit-transition:border-bottom .3s; 
		-moz-transition:border-bottom .3s ;
		-o-transition:border-bottom .3s ;
	}

	
	.content a:hover {
		border-bottom:1px solid black;
		color:#33322F;
		text-decoration: none;
	}


	#home {
		position: relative;
	}

	#home:after {
		background-color:#33322F;
		bottom: 1px;
		content: "";
		display: block;
		height: 6px;
		margin: auto 0;
		position: absolute;
		top: 1px;
		transition: width 0.3s cubic-bezier(1, 0, 0, 1);
		-webkit-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-moz-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-o-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		width:104%;
		right:-2px;
	}

	#home:hover:after {
		width:0;
	}

	#study {
		width:100%;
	}

	div#study-intro {
		text-align: center;
		width:100%;
		margin:auto;
		margin-top:5%;

	}

	div#study-intro h2 {
		font-size:5em;
		letter-spacing: 3px;
		font-weight:700;
	}

	div#study-intro h3 {
		font-weight:400;
		margin-top:1%;
	}

	#cover-image {
		position: relative;
		width:70%;
		margin:auto;
		margin-top:5%;
	}

	#cover-image figcaption {
		position: absolute;
		top:10%;
		left:5%;
		font-size:2vw;
		color:white;
		text-align: left;
	}

	#cover-image figcaption h4 {
		font-weight:700;
		font-size:3em;
		letter-spacing: 3px;
	}

	#cover-image figcaption h3 {
		margin-top:3px;
		font-weight:300;
		font-size:0.8em;
	}

	.content {
		margin:auto;
		width:70%;
		margin-top:5%;
		color:#33322F;
		font-size:1.2em;
		font-weight:300;
	}

	.content-centered {
		margin:auto;
		text-align:center;
		width:83%;
		margin-top:5%;
		color:#33322F;
		font-size:1.1em;
	}

	.content-centered h2 {
		font-size:2.3em;
		margin-bottom:25px;
	}

	.content-centered h4 {	
		font-weight:300;
		letter-spacing: 1px;
		margin-bottom:70px;
	}

	.content h2 {
		font-family: 'Droid Serif',serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.content p {
		color:#54534E;
		letter-spacing: 0.5px;
		line-height: 141%;
	}

	.content h4 {
		font-family: 'Droid Serif', serif;
		letter-spacing: 1px;
		margin-bottom:15px;
	}

	.personas {	
		margin-top:30px;
		width:100%;
		text-align:center;
		background-color:#E7EDE7;
		padding-top:50px;
		padding-bottom:50px;
	}

	#journey-map {
		width:100%;
		margin-top:30px;
		text-align:center;
	}

	#principals {
		text-align: center;
	}

	#mockups {
		margin-top:30px;
		text-align:center;
		margin-bottom: 30px;
		text-align:center;
	}

	#userjourney {
		margin-top:30px;
		margin-bottom:30px;
		text-align: center;
	}

	#phones {
		margin-top:0px;
	}

	#phone1{
		margin-bottom:90px;
	}

	#invite {
		margin-top:30px;
		margin-bottom:30px;
		padding-top:30px;
		padding-bottom:15px;
		width: 100%;
		text-align:center;
		background-color:#E7EDE7;
	}

	#invite img {
		width:60%;
	}

	figcaption {
		text-align:center;
		font-size:0.8em;
		margin-top:10px;
	}

	#notification {
		width:100%;
		margin:auto;
		margin-top:30px;
		text-align:center;
		background-color:#E7EDE7;
		padding-top:15px;
		padding-bottom:15px;
	}

	#notification img {
		width:40%;
	}

	#notification figcaption {
		font-size:0.6em;
	}

	#iframe {
		width:70%;
		margin:auto;
		margin-top:30px;
		background-color:#E7EDE7;
		height:70%;
		padding-bottom:5px;
	}

	iframe {
		margin:auto;
		text-align:center;
		width:100%;
	}

	#top {
		margin:auto;
		margin-top:100px;
		width:100%;
		text-align:center;
	}

	#top a {
		text-decoration: none;
		color:#33322F;
	}

	#connect {
		font-size:1em;
		width:100%;
		margin-left:40px;
		margin-top:50px;
		margin-bottom:30px;
	}

	footer nav {
		margin-top:30px	;
	}

	#social-email {
		position: relative;
	}

	#social-email {
		text-decoration:none;
		color:#33322F;
		font-weight:300;
	}

	#social-email:after {
		background-color:black;
		bottom: 1px;
		content: "";
		display: block;
		height: 7px;
		margin: auto 0;
		position: absolute;
		top: 5px;
		transition: width 0.3s cubic-bezier(1, 0, 0, 1);
		-webkit-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-moz-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		-o-transition:width 0.3s cubic-bezier(1, 0, 0, 1);
		width:100%;
		right:2px;
	}

	#social-email:hover:after {
		width:0;
	}

	#copyright {
		float:right;
		margin-right:80px;
		font-size:0.7em
	}	

}